body{
    font-family:serif;
}

.post-card{
    box-shadow: 10px 10px 20px 1px grey;
    min-height: 100%;
}
.post-card a{
    color: #000;
    text-decoration: none;

}

.card-content{
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.card-content .title{

    margin: 15px  0;
    margin-bottom: 20px;

}
.blog-header{
    background: #1888a5;
    color: #fff;
    padding: 100px 0;
    padding-top: 110px;
}

.blog-header h1{
    font-size: 3.1em;
    font-weight: bold;
}


.blog-body{
    margin-top: 100px;
}



.blog-pagination{
    padding: 100px;
}

.blog-pagination .btn {
    background: #1888a5;
    padding: 15px 50px;
    display: block;
    width: 500px;
    color: #ffffff;
    border-radius: 28px;
}

.post .container{
    margin-top: 100px;
    width: 70%;
}

footer{
    background: #1888a5;
    padding: 50px;
    color: #fff;
}